{% extends 'layout.html.twig' %}

{% block title 'Comentarios' %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <legend>Lista de Comentarios</legend>

            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">

                    <thead>
                    <th>Id</th>
                    <th>Comentario</th>
                    </thead>

                    <tbody>

                        {% for c in comments %}
                        <tr>
                            <td>{{ a.id }}</td>
                            <td>{{ a.comentario }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}