{% extends 'layout.html.twig' %}

{% block title 'Inicio' %}

{% block body %}

<div class="jumbotron">
  <h1>Inmobiliaria</h1></br>
  <h2>Apartamentos en alquiler!</h2>
  <p></p>
</div>

{% endblock %}